.Square {
    position: relative; 
    height:30px; 
    width:30px; 
    background-color:#DCB579; 
    border-color: black; 
    border-width: 1px; 
    border-style: solid;
    left: 15px;
}
.Placer {
    position: relative; 
    height:30px; 
    width:30px; 
    background: transparent;
    border: none !important;
    font-weight: 700;
    color: black;
    z-index: 10;
    border-radius: 50%;
}
.Placer:hover {
    background-color: grey;
    font-size: 0;
  }